*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

main {
  overflow: hidden;
}

.login__section {
  position: relative;
  display: block;
  animation: anim2 0.3s linear;
  &.hide {
    display: none;
  }
}

.blog__section {
  display: block;
  animation: anim1 0.3s linear;
  &.hide {
    display: none;
  }
}

@keyframes anim1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes anim2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
